<mat-toolbar color="primary" style="justify-content: center;">
    <div class="buttonContainer">
        <button
            mat-stroked-button
            color="primary"
            class="navButton"
            [routerLink]="['/plants']"
        >
        Browse Plants
        </button>
        <button
            mat-stroked-button
            color="primary"
            class="navButton"
            [routerLink]="['/order-search']"
        >
        Order Details
        </button>
    </div>
</mat-toolbar>