.orderSearchContainer {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.orderSearchCard {
    padding: .5rem;
    width: 30%;
    min-height: 50%;
    display: flex;
    align-items: center;
}

.orderNumberField {
    margin: 1rem;
    display: flex;
    align-items: baseline;
}