<div class="orderSearchContainer">
    <mat-card class="orderSearchCard">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Search for an order</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <div class="orderNumberField">
              <mat-form-field>
                  <mat-label>Enter your order number</mat-label>
                  <input matInput [formControl]="orderNumber">
              </mat-form-field>
              <button mat-mini-fab color="primary" style="margin: 0.5rem;" (click)="onClick()" [disabled]="orderNumber.invalid">
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <ng-container *ngIf="(orderDetails$ | async) as orderDetails">
              <app-order-details 
                [orderDetails]="orderDetails">
              </app-order-details>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>
