<mat-card class="plantDetailsCard">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{plantDetails.name}}&nbsp;${{plantDetails.price}}</mat-card-title>
        <mat-card-subtitle>{{plantDetails.scientificName}}</mat-card-subtitle>
        <mat-card-subtitle>Qty Available:&nbsp;{{plantDetails.qtyAvailable}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <span>
        {{plantDetails.funFact}}
      </span>
      <div class="orderContainer">
        <button mat-raised-button color="primary" class="orderButton" (click)="onClickOrder()">
          Order
        </button>
      </div>
    </mat-card-content>
  </mat-card>