<mat-card class="plantDetailsCard">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{plantDetails.name}}&nbsp;${{plantDetails.price}}</mat-card-title>
        <mat-card-subtitle>{{plantDetails.scientificName}}</mat-card-subtitle>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <span>
        {{plantDetails.funFact}}
      </span>
      <div class="orderContainer">
        <!-- <mat-form-field>
          <mat-label>Qty</mat-label>
          <input matInput type="number" [formControl]="orderQty">
        </mat-form-field> -->
        <button mat-raised-button color="primary" class="orderButton" (click)="onClickOrder()">
          Order
        </button>
      </div>
    </mat-card-content>
  </mat-card>