<div class="orderDetails">
    <div class="gridContainer" >
        <span class="label">
            Order Number: 
        </span>
        <span>
            {{orderDetails.orderNumber}}
        </span>
        <span class="label">
            Order Total: 
        </span>
        <span>
            ${{orderDetails.salePrice}}
        </span>
        <span class="label">
            Name: 
        </span>
        <span>
            {{orderDetails.purchaserName}}
        </span>
        <span class="label">
            Shipping Address: 
        </span>
        <span>
            {{orderDetails.shippingAddress}}
        </span>
        <span class="label">
            Item: 
        </span>
        <span>
            {{orderDetails.plantName}}
        </span>
        <span class="label">
            Qty: 
        </span>
        <span>
            {{orderDetails.qtyPurchased}}
        </span>
        
    </div>
</div>
